@page "/View"
@model FontysLost_Found.Presentation.Pages.Posts.ViewModel

@{
    ViewData["Title"] = "Posts";
}

<h1 class="mt-4 mb-4">Posts</h1>

@if (!Model.Posts.Any())
{
    <div class="alert alert-info">
        No posts have been created yet.
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr style="cursor:pointer;">
                        <td>@post.Title</td>
                        <td>@post.Description</td>
                        <td>@post.DateCreated.ToString("dd MMM yyyy HH:mm")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}